header {
    background-image: url(../../../assets/header/background.png);
    height: 100vh;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    margin: 0 auto;
    max-width: 1200px;
}

.topHeader {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 300px;
}
