// color pallette

$green: #207200;
$white: #fff;
$black: #1A2428;

// Text Style Catalog

// Main Heading Text (Providing Tasty...)
// Lora, Bold (900)

// Section heading (About Us, Our Products)
// Section sub-heading (Providing best organic products)
// Lora, Semi-Bold (700)

// Product names (Mix Vegetables)
// Lora, Medium (600)

// Body text (lorem ipsum)
// Barlow, Regular (400)

// Menu Items
// Barlow, Semi-Bold (600)

$lora: 'Lora', serif;
$barlow: 'Barlow', sans-serif;